In [1]:
import pandas as pd # Import pandas

In [2]:
df = pd.read_csv('balance.txt',sep=' ') # Create a DataFrame with balance.txt

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [13]:
df.iloc[:11,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
6,10.574516,20.996,3388,259,2,37,12,Female,No,No,African American
7,14.576204,71.408,7114,512,2,87,9,Male,No,No,Asian
8,7.938090,15.125,3300,266,5,66,13,Female,No,No,Caucasian
9,17.756965,71.061,6819,491,3,41,19,Female,Yes,Yes,African American
10,13.994990,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian

Average income based on ethnicity

In [8]:
# Group the DataFrame by 'ethnicity' and calculate the mean income
ethnicity_income_mean = df.groupby('Ethnicity')['Income'].mean()

print(ethnicity_income_mean)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

Yes, on average, married individuals tend to have more balance

In [10]:
average_marriage_balance = df.groupby('Married')['Income'].mean()

print(average_marriage_balance)

Married
No     43.641090
Yes    46.217082
Name: Income, dtype: float64

The highest income in our dataset

In [23]:
df['Income'].max()

186.634

The lowest income in our dataset

In [21]:
df['Income'].min()

10.354

The number of cards/row in our dataset

In [25]:
numb_of_cards = len(df)
print(numb_of_cards)

400

Number of Males and Females in the dataset

In [27]:
num_gender = df.groupby('Gender')['Gender'].count()
print(num_gender)

Gender
Female    207
Male      193
Name: Gender, dtype: int64